/*
Theme Name: HEIW Base site
Theme URI: http://heiw-base.local:8888
Description: HTML5/CSS3 bootstrap responsive theme for HEIW
Version: 1.0
Author: Gareth J Peters
Contributor: Michael Pritchard
*/
html,
body {
  height: 100%;
}
body {
  background: #101f35;
}
header {
  margin: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9;
}
header .navbar-small {
  padding: 0 0.4rem;
  border-bottom: 3px solid #B9975B;
  margin-bottom: 20px;
}
header .navbar-small.bg-dark {
  background: #1B365D !important;
}
header .navbar-small .row {
  margin: 0;
}
header .navbar-small .navbar-toggler {
  padding: 0.1rem 0.4rem;
  margin: 5px 0;
}
header .navbar-small .navbar-toggler .navbar-toggler-icon {
  width: 1em;
  height: 1em;
}
header .navbar-small .navbar-nav .nav-item .nav-link {
  padding: 0.5rem;
  font-size: 0.9rem;
}
header .navbar-small .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}
header .navbar-small .external-links .fa-external-link {
  font-size: 0.6rem;
  opacity: 0.7;
  top: -3px;
  position: relative;
}
header .logos-strip {
  margin-bottom: 20px;
}
header .main-logo {
  height: 100px;
}
header .heiw-logo {
  height: 55px;
}
@media only screen and (min-width: 768px) {
  header .heiw-logo {
    margin-top: 5px;
    height: 71px;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.65);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.85);
}
.site-header img {
  margin-top: -10px;
}
.navbar-main {
  background: #1B365D;
  border-top: 3px solid #B9975B;
}
.navbar-main .navbar-nav li a.nav-link.current,
.navbar-main .navbar-nav li a.nav-link.section {
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .navbar-main .navbar-nav li a.nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.masthead {
  background-color: #fff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url('/images/gp2111a.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 18px 0;
  border-bottom: 1px solid #B9975B;
}
@media only screen and (min-width: 768px) {
  .masthead {
    padding: 30px 0;
  }
}
.masthead .image {
  margin: 0;
}
.masthead .image img {
  width: 100%;
  box-shadow: 0.05rem 0.2rem 0.6rem rgba(0, 0, 0, 0.35);
}
.masthead .site-title {
  font-size: 4.2rem;
  text-align: center;
  font-weight: 700;
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 40px;
}
.masthead .site-title .tint {
  color: #1B365D;
}
.masthead .page-subtitle {
  font-size: 1.14rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .masthead .page-subtitle {
    margin-bottom: 0.8rem;
  }
}
.masthead .page-subtitle p {
  margin-bottom: 0.5rem;
}
.masthead .page-title {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .masthead .page-title {
    font-size: 2.8rem;
  }
}
.masthead.home-page {
  padding: 20px 0;
}
@media only screen and (min-width: 768px) {
  .masthead.home-page {
    padding: 60px 0;
  }
}
.masthead.home-page .site-title {
  font-size: 2.2rem;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .masthead.home-page .site-title {
    font-size: 3.6rem;
  }
}
.masthead.secondary {
  margin-top: -1px;
  background: #d3d3d2;
}
.masthead.secondary h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .masthead.secondary h3 {
    font-size: 1.75rem;
  }
}
.main-page {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
/*Underline ONLY the links inside the main-page*/
.main-page a {
    text-decoration: underline;
}
body > footer {
  background-color: #1B365D;
  background-image: url('../images/lozenges-footer.png');
  background-position: right 0 bottom 65px;
  background-repeat: no-repeat;
  border-top: 3px solid #B9975B;
  padding: 25px 0 0 0;
  color: #fff;
}
body > footer .semi-transparent {
  background: rgba(27, 54, 93, 0.45);
}
body > footer .footer-header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  border-bottom: 1px solid #101f35;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
body > footer address {
  margin-bottom: 0.8rem;
}
body > footer address p {
  font-size: 0.85rem;
  margin-bottom: 0;
}
body > footer ul.fa-ul {
  margin-left: 1.8em;
  font-size: 0.85rem;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  body > footer ul.fa-ul {
    margin-bottom: 0;
  }
}
body > footer ul.fa-ul li {
  line-height: 0.9rem;
  margin-bottom: 0.6rem;
}
body > footer ul.fa-ul a {
  color: #fff;
}
body > footer ul.list-inline .list-inline-item {
  display: block;
  margin-right: 0;
}
@media only screen and (min-width: 768px) {
  body > footer ul.list-inline .list-inline-item {
    display: inline-block;
  }
  body > footer ul.list-inline .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }
}
body > footer .social-buttons {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  body > footer .social-buttons {
    margin-bottom: 0;
  }
}
body > footer .social-buttons .btn-primary {
  color: #fff;
  background-color: #142845;
  border-color: #142845;
}
body > footer .social-buttons .btn-primary:hover {
  background-color: #0e1d32;
  border-color: #0e1d32;
}
body > footer .social-buttons .btn-primary a {
  color: #fff;
}
body > footer .social-buttons .btn-primary a:hover {
  color: #fff;
}
body > footer .admin-box {
  background: #101f35;
  padding: 10px;
  margin-bottom: 1.6rem;
  border-radius: 4px;
}
body > footer .admin-box .footer-header {
  border-bottom-color: #1B365D;
}
body > footer .admin-box ul {
  margin-bottom: 0;
}
body > footer .admin-box ul a {
  color: #B9975B;
}
body > footer .admin-box ul a:hover {
  color: #5b8bcf;
}
body > footer .sub-footer {
  position: relative;
  padding-top: 20px;
  background: #101f35;
  font-size: 0.9rem;
  margin-top: 40px;
  z-index: 999;
}
body > footer .sub-footer a {
  color: #fff;
}
.flex {
  height: 100%;
  min-height: 100%;
  display: block;
  flex-direction: column;
}
.flex.full {
  display: flex;
}
.placeholder {
  width: 100%;
  height: 280px;
  background: #d3d3d2;
}
.main-image {
  width: 100%;
  height: auto;
  float: right;
  margin-bottom: 2rem;
}
.news-image {
  width: 35%;
  float: right;
  margin: 0 0 2rem 2rem;
}
.section-teasers,
.child-teasers {
  margin-top: 2rem;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.embed.right {
  float: right;
  margin: 0 0 1.5rem 1.5rem;
}
.hidden {
  display: none;
  visibility: hidden;
}
.sitemap li {
  font-weight: 500;
  margin-bottom: 7px;
  font-size: 1.3rem;
}
.sitemap li ul {
  padding-left: 38px;
}
.sitemap li ul li {
  font-weight: 300;
  margin-bottom: 0;
  font-size: 1.14rem;
}
.external-links .fa-external-link {
  font-size: 0.6rem;
  opacity: 0.7;
  top: -3px;
  position: relative;
}
legend {
  visibility: hidden;
  position: absolute;
  left: -999999px;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
p,
ol,
ul,
address,
td,
dl {
  font-weight: 300;
}
a {
  color: #0366d6;
}
.lead {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .lead {
    font-size: 1.25rem;
  }
}
strong {
  font-weight: 700;
}
h1 {
  font-weight: 300;
  line-height: 40px;
}
h4 {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
.sidebar h4  {
  border-bottom: 1px solid #d3d3d4;
  border-top: 1px solid #d3d3d4;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}
.sidebar h4 a {
  color: #212529;
}
.sidebar-title {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #d3d3d4;
  border-top: 1px solid #d3d3d4;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}
.postnominal {
  font-size: smaller;
}
dl dt a {
  color: #1B365D;
}
dl dt a:hover {
  color: #B9975B;
}
dl dd {
  margin-bottom: 0.85rem;
}
dl dd a {
  color: #1B365D;
}
dl dd a:hover {
  color: #B9975B;
}
.news-date {
  color: #666;
  border-bottom: 1px solid #d3d3d2;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.main-page h3 {
  margin-bottom: 1rem;
}
.blockquote {
  position: relative;
  background: #eee;
  padding: 2rem;
  padding-left: 4rem;
  color: #212529;
  margin: 0 0 1.5rem 0;
  clear: both;
  border-radius: 4px;
  font-size: 1.5rem;
}
.blockquote p {
  margin-bottom: 0;
}
.blockquote:before {
  font-family: 'Roboto', sans-serif;
  color: #101f35;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 4px;
  content: "\201C";
}
.blockquote .blockquote-footer {
  font-size: 70%;
  color: #1B365D;
}
.blockquote .blockquote-footer:before {
  content: none;
}
.blockquote .blockquote-footer p {
  margin: 0;
}
.source {
  font-style: oblique;
  font-size: 85%;
  color: #666;
}
.alert p:last-child {
  margin-bottom: 0;
}
.teaser {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3d3d2;
}
.teaser .teaser-title {
  font-size: 1.6rem;
  line-height: 24px;
}
.teaser .teaser-title a {
  color: #212529;
}
.teaser .teaser-title a:hover {
  color: #B9975B;
  text-decoration: none;
}
.teaser .teaser-subtitle {
  font-size: 1.14rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.teaser ul:last-child {
  margin-bottom: 0;
}
.teaser.member-teaser {
  margin-bottom: 50px;
}
.teaser.member-teaser .teaser-image img {
  width: 100%;
}
.teaser.member-teaser .teaser-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #101f35;
}
.teaser.member-teaser .teaser-title .tint {
  font-size: 1.14rem;
  color: #1B365D;
}
.teaser.news-teaser {
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 220px;
  border-bottom: 1px solid #d3d3d2;
}
.teaser.news-teaser .teaser-image {
  margin-bottom: 0;
  margin-left: -220px;
  float: left;
}
.teaser.news-teaser .teaser-title {
  font-size: 1.6rem;
  line-height: 24px;
}
.teaser.news-teaser .teaser-title a {
  color: #212529;
}
.teaser.news-teaser .teaser-title a:hover {
  color: #B9975B;
  text-decoration: none;
}
.teaser.news-teaser .teaser-date {
  color: #777;
}
.teaser.news-teaser:last-of-type {
  border: none;
}
.teaser.board-teaser {
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 240px;
  border-bottom: 1px solid #d3d3d2;
}
.teaser.board-teaser .teaser-image {
  margin-bottom: 0;
  margin-left: -240px;
  float: left;
  border: 1px solid #d3d3d2;
}
.teaser.board-teaser .teaser-title {
  font-size: 1.6rem;
  line-height: 24px;
  margin-bottom: 0.4rem;
}
.teaser.board-teaser .teaser-title a {
  color: #212529;
}
.teaser.board-teaser .teaser-title a:hover {
  color: #B9975B;
  text-decoration: none;
}
.teaser.board-teaser .teaser-subtitle {
  font-size: 1.14rem;
  font-weight: 700;
}
.teaser.board-teaser:last-of-type {
  border: none;
}
.teaser::after {
  content: "";
  clear: both;
  display: table;
}
form .field {
  margin-bottom: 20px;
}
.image {
  border: 1px solid #d3d3d2;
  border-radius: 0.25rem !important;
}
.image img {
  width: 100%;
}
.image .caption {
  font-size: 0.85rem;
  color: #333;
  padding: 5px 10px;
  background: #d3d3d2;
}
.image.right {
  float: right;
  margin: 0 0 30px 30px;
}
figure.image img.right {
  margin: 0;
  float: none;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .video-wrapper {
    margin-bottom: 0;
  }
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid {
  width: 100%;
  margin-bottom: 50px;
  background: #fff;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .grid {
    background: #000;
  }
}
.grid .tile {
  width: 33.3%;
  height: 333px;
  float: left;
  color: #fff;
  cursor: pointer;
}
.grid .tile .front {
  padding: 20px;
  background: #1B365D;
}
.grid .tile .front img {
  width: 100%;
}
.grid .tile .back {
  padding: 20px;
  background: #B9975B;
  border: 1px solid #B9975B;
  overflow-y: scroll;
}
.grid .tile .back h3 {
  margin-bottom: 5px;
}
.grid .tile .back h5 {
  margin-bottom: 15px;
}
.grid .fixed-tile {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  margin-top: -53px;
  margin-left: -52px;
}
@media only screen and (min-width: 768px) {
  .grid .fixed-tile {
    width: 420px;
    margin-top: -51px;
    margin-left: -50px;
  }
}
.grid .fixed-tile img {
  width: 114%;
  height: auto;
  transition: all 0.2s linear;
}
.grid .fixed-tile img:hover {
  opacity: 0.7;
}
@media only screen and (min-width: 768px) {
  .grid .fixed-tile img {
    width: 100%;
  }
}
.case-study-page img {
  width: 100%;
}
.accordion .card-header button {
  color: #212529;
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  position: relative;
  white-space: normal;
  text-align: left;
}
.accordion .card-header button:hover,
.accordion .card-header button:active {
  text-decoration: none;
}
.accordion .card-header button .box-icon {
  width: 30px;
  height: 30px;
  background: #B9975B;
  position: absolute;
  top: 0.35rem;
  left: -30px;
  border-radius: calc(0.25rem - 1px);
  color: #fff;
  line-height: 30px;
  text-align: center;
}
.accordion .card-header button.collapsed {
  font-weight: 400;
}
.accordion .card-header button.collapsed .box-icon {
  background: #1B365D;
}
.card .card-title:last-child {
  margin-bottom: 0;
}
.card .card-title a {
  color: #212529;
}
.card ul {
  padding-left: 20px;
}
.card ul:last-child {
  margin-bottom: 0;
}
.card dl:last-child {
  margin-bottom: 0;
}
.card .card-subtitle {
  margin-top: -0.5rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}
.card .card-subtitle:last-child {
  margin-bottom: 0;
}
.profile h1 {
  margin-bottom: 1.2rem;
}
.profile img {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 1rem;
}
.homepage-cards .card {
  text-align: center;
}
.homepage-cards .card .card-title {
  font-size: 1.8rem;
}
.section-teasers,
.child-teasers {
  margin-top: 0;
}
.section-teasers .card,
.child-teasers .card {
  margin-bottom: 30px;
}
.section-teasers .card .card-title a,
.child-teasers .card .card-title a {
  color: #212529;
}
.section-teasers .card .card-title a:hover,
.child-teasers .card .card-title a:hover {
  color: #212529;
  text-decoration: none;
}
.section-teasers .card p,
.child-teasers .card p {
  font-weight: 300;
}
.sidebar {
  margin-bottom: 1rem;
}
.sidebar ul li {
  width: 100%;
}
.sidebar ul li a {
  display: block;
  color: #1B365D;
}
.sidebar ul li a.current {
  color: #B9975B;
  font-weight: 700;
}
.sidebar ul li a.section {
  color: #9e7d43;
  font-weight: 700;
}
.sidebar ul.submenu {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.link + .submenu.nav {
  display: none;
}
.language-switcher {
  position: absolute;
  right: 5px;
  top: 3px;
  z-index: 9999;
}
@media only screen and (min-width: 768px) {
  .language-switcher {
    position: relative;
    right: auto;
    top: auto;
  }
}
.language-switcher h6 {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 4px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}
.language-switcher ul {
  margin-top: 3px;
  margin-bottom: 3px;
}
.language-switcher li {
  text-align: center;
  line-height: 1;
}
.language-switcher li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.85rem;
}
.language-switcher li img {
  width: 18px;
  margin-right: 4px;
}
.language-switcher li.link {
  opacity: 0.5;
}
.message.bad {
  color: #e00000;
}
.slider-holder {
  background: #eee;
  border-bottom: 1px solid #d3d3d2;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}
.main-slider {
  width: 100%;
  margin-bottom: 1.6rem !important;
}
@media only screen and (min-width: 768px) {
}
.main-slider .slider {
  overflow: hidden;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}
@media only screen and (min-width: 768px) {
  .main-slider .slider {
    background-position: right center;
    background-size: auto;
  }
}
.main-slider .slider .slider-content {
  width: 100%;
  background-color: rgba(238, 238, 238, 0.6);
  padding-bottom: 0.35rem;
}
@media only screen and (min-width: 768px) {
  .main-slider .slider .slider-content {
    width: 60%;
    float: left;
    background-color: transparent;
    padding-bottom: 0;
  }
}
.main-slider .slider .slider-content .slider-title {
  color: #B9975B;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
@media only screen and (min-width: 768px) {
  .main-slider .slider .slider-content .slider-title {
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }
}
.main-slider .slider .slider-content .slider-title a {
  color: #B9975B;
}
.main-slider .slider .slider-content .slider-title a:hover {
  text-decoration: none;
}
.main-slider .slider .slider-content .lead {
  color: #1B365D;
  margin-bottom: 1rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main-slider .slider .slider-content .lead {
    width: 100%;
  }
}
.main-slider .slider .slider-content .slider-teaser {
  font-size: 0.9rem;
  width: 93%;
}
@media only screen and (min-width: 768px) {
  .main-slider .slider .slider-content .slider-teaser {
    width: 50%;
    font-size: 1.1rem;
  }
}
.main-slider .slider .slider-image {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main-slider .slider .slider-image {
    width: 38%;
    float: right;
  }
}
.main-slider .slider .slider-image img {
  width: 100%;
  height: auto;
}
.main-slider .slick-arrow {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -12px;
  border-radius: 1em;
  cursor: pointer;
  z-index: 10;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  font-family: "Euphemia UCAS", Euphemia, Helvetica, serif;
  background-color: #cbcbcb;
  background-image: linear-gradient(#C7C7C7, #C7C7C7 55%, #dbdbdb);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc7c7c7', endColorstr='#ffdbdbdb', GradientType=0);
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.main-slider .slick-arrow.slick-prev {
  left: 10px;
  bottom: -40px;
  top: auto;
}
.main-slider .slick-arrow.slick-prev:before {
  content: none;
}
.main-slider .slick-arrow.slick-next {
  left: 48px;
  bottom: -40px;
  top: auto;
}
.main-slider .slick-arrow.slick-next:before {
  content: none;
}
.main-slider .slick-dots {
  bottom: -25px;
  left: 110px;
  width: auto;
}
.main-slider .slick-dots li {
  width: 12px;
  height: 12px;
  display: inline-block;
  padding: 5px;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color: #E2E2E2;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.main-slider .slick-dots li.slick-active {
  background-color: #B9975B;
}
.main-slider .slick-dots li button:before {
  content: none;
}
.slider-tint {
  position: absolute;
  width: 100%;
  height: 380px;
  top: 0;
  left: 0;
  z-index: 888;
  background-color: #222;
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .slider-tint {
    height: 570px;
  }
}
.site-notification {
  position: fixed;
  z-index: 1032;
  width: 100%;
  bottom: -100%;
  background-color: #1B365D;
  color: #ffffff;
}
.site-notification .site-notification-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.site-notification p a {
  color: #fff;
  text-decoration: underline;
}
.site-notification p a:hover {
  color: #B9975B;
}
.site-overlay {
  display: none;
  position: fixed;
  z-index: 1031;
  background-color: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DC3545;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #28A745;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.btn-navy {
  color: #ffffff;
  background-color: #325083;
  border-color: #24395e;
}
.btn-navy:hover,
.btn-navy:focus,
.btn-navy:active,
.btn-navy .active {
  color: #ffffff;
  background-color: #24395e;
  border-color: #1d2e4c;
}
.btn-navy:active,
.btn-navy.active {
  background-image: none;
}
.btn-navy.disabled,
.btn-navy[disabled] {
  background-color: #5b80c0;
  border-color: #4872b9;
}
.btn-navy.disabled:hover,
.btn-navy[disabled]:hover,
.btn-navy.disabled:focus,
.btn-navy[disabled]:focus,
.btn-navy.disabled:active,
.btn-navy[disabled]:active,
.btn-navy.disabled.active,
.btn-navy[disabled].active {
  background-color: #5b80c0;
  border-color: #4872b9;
}
.btn-navy .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-navy {
  background-color: #5b80c0;
  border-color: #4872b9;
}
.open .dropdown-toggle.btn-navy {
  color: #ffffff;
  background-color: #24395e;
  border-color: #1d2e4c;
  background-image: none;
}
.btn-grey {
  color: #ffffff;
  background-color: #575756;
  border-color: #3d3d3d;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey .active {
  color: #ffffff;
  background-color: #3d3d3d;
  border-color: #313130;
}
.btn-grey:active,
.btn-grey.active {
  background-image: none;
}
.btn-grey.disabled,
.btn-grey[disabled] {
  background-color: #8a8a89;
  border-color: #7d7d7c;
}
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active {
  background-color: #8a8a89;
  border-color: #7d7d7c;
}
.btn-grey .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-grey {
  background-color: #8a8a89;
  border-color: #7d7d7c;
}
.open .dropdown-toggle.btn-grey {
  color: #ffffff;
  background-color: #3d3d3d;
  border-color: #313130;
  background-image: none;
}
.btn-blue {
  color: #ffffff;
  background-color: #489cc9;
  border-color: #3381ab;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue .active {
  color: #ffffff;
  background-color: #3381ab;
  border-color: #2d7298;
}
.btn-blue:active,
.btn-blue.active {
  background-image: none;
}
.btn-blue.disabled,
.btn-blue[disabled] {
  background-color: #97c7e0;
  border-color: #83bcda;
}
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active {
  background-color: #97c7e0;
  border-color: #83bcda;
}
.btn-blue .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-blue {
  background-color: #97c7e0;
  border-color: #83bcda;
}
.open .dropdown-toggle.btn-blue {
  color: #ffffff;
  background-color: #3381ab;
  border-color: #2d7298;
  background-image: none;
}
.btn-green {
  color: #ffffff;
  background-color: #008071;
  border-color: #004d44;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green .active {
  color: #ffffff;
  background-color: #004d44;
  border-color: #00342d;
}
.btn-green:active,
.btn-green.active {
  background-image: none;
}
.btn-green.disabled,
.btn-green[disabled] {
  background-color: #00e6cb;
  border-color: #00cdb5;
}
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
.btn-green.disabled.active,
.btn-green[disabled].active {
  background-color: #00e6cb;
  border-color: #00cdb5;
}
.btn-green .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-green {
  background-color: #00e6cb;
  border-color: #00cdb5;
}
.open .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #004d44;
  border-color: #00342d;
  background-image: none;
}
.btn-crimson {
  color: #ffffff;
  background-color: #a3195b;
  border-color: #771242;
}
.btn-crimson:hover,
.btn-crimson:focus,
.btn-crimson:active,
.btn-crimson .active {
  color: #ffffff;
  background-color: #771242;
  border-color: #610f36;
}
.btn-crimson:active,
.btn-crimson.active {
  background-image: none;
}
.btn-crimson.disabled,
.btn-crimson[disabled] {
  background-color: #e2408d;
  border-color: #de2a80;
}
.btn-crimson.disabled:hover,
.btn-crimson[disabled]:hover,
.btn-crimson.disabled:focus,
.btn-crimson[disabled]:focus,
.btn-crimson.disabled:active,
.btn-crimson[disabled]:active,
.btn-crimson.disabled.active,
.btn-crimson[disabled].active {
  background-color: #e2408d;
  border-color: #de2a80;
}
.btn-crimson .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-crimson {
  background-color: #e2408d;
  border-color: #de2a80;
}
.open .dropdown-toggle.btn-crimson {
  color: #ffffff;
  background-color: #771242;
  border-color: #610f36;
  background-image: none;
}
.btn-purple {
  color: #ffffff;
  background-color: #511966;
  border-color: #300f3d;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple .active {
  color: #ffffff;
  background-color: #300f3d;
  border-color: #200a29;
}
.btn-purple:active,
.btn-purple.active {
  background-image: none;
}
.btn-purple.disabled,
.btn-purple[disabled] {
  background-color: #922db8;
  border-color: #8228a3;
}
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active {
  background-color: #922db8;
  border-color: #8228a3;
}
.btn-purple .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-purple {
  background-color: #922db8;
  border-color: #8228a3;
}
.open .dropdown-toggle.btn-purple {
  color: #ffffff;
  background-color: #300f3d;
  border-color: #200a29;
  background-image: none;
}
.btn-orange {
  color: #ffffff;
  background-color: #e63323;
  border-color: #c02416;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange .active {
  color: #ffffff;
  background-color: #c02416;
  border-color: #a92013;
}
.btn-orange:active,
.btn-orange.active {
  background-image: none;
}
.btn-orange.disabled,
.btn-orange[disabled] {
  background-color: #f0887f;
  border-color: #ee7368;
}
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active {
  background-color: #f0887f;
  border-color: #ee7368;
}
.btn-orange .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-orange {
  background-color: #f0887f;
  border-color: #ee7368;
}
.open .dropdown-toggle.btn-orange {
  color: #ffffff;
  background-color: #c02416;
  border-color: #a92013;
  background-image: none;
}
.btn-lime {
  color: #ffffff;
  background-color: #afca0b;
  border-color: #859a08;
}
.btn-lime:hover,
.btn-lime:focus,
.btn-lime:active,
.btn-lime .active {
  color: #ffffff;
  background-color: #859a08;
  border-color: #708107;
}
.btn-lime:active,
.btn-lime.active {
  background-image: none;
}
.btn-lime.disabled,
.btn-lime[disabled] {
  background-color: #dcf546;
  border-color: #d8f42e;
}
.btn-lime.disabled:hover,
.btn-lime[disabled]:hover,
.btn-lime.disabled:focus,
.btn-lime[disabled]:focus,
.btn-lime.disabled:active,
.btn-lime[disabled]:active,
.btn-lime.disabled.active,
.btn-lime[disabled].active {
  background-color: #dcf546;
  border-color: #d8f42e;
}
.btn-lime .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-lime {
  background-color: #dcf546;
  border-color: #d8f42e;
}
.open .dropdown-toggle.btn-lime {
  color: #ffffff;
  background-color: #859a08;
  border-color: #708107;
  background-image: none;
}
.btn-pink {
  color: #ffffff;
  background-color: #e52e7d;
  border-color: #c71964;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink .active {
  color: #ffffff;
  background-color: #c71964;
  border-color: #b11659;
}
.btn-pink:active,
.btn-pink.active {
  background-image: none;
}
.btn-pink.disabled,
.btn-pink[disabled] {
  background-color: #f089b5;
  border-color: #ed72a7;
}
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
.btn-pink.disabled:active,
.btn-pink[disabled]:active,
.btn-pink.disabled.active,
.btn-pink[disabled].active {
  background-color: #f089b5;
  border-color: #ed72a7;
}
.btn-pink .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-pink {
  background-color: #f089b5;
  border-color: #ed72a7;
}
.open .dropdown-toggle.btn-pink {
  color: #ffffff;
  background-color: #c71964;
  border-color: #b11659;
  background-image: none;
}
.btn-violet {
  color: #ffffff;
  background-color: #78368c;
  border-color: #582867;
}
.btn-violet:hover,
.btn-violet:focus,
.btn-violet:active,
.btn-violet .active {
  color: #ffffff;
  background-color: #582867;
  border-color: #492155;
}
.btn-violet:active,
.btn-violet.active {
  background-image: none;
}
.btn-violet.disabled,
.btn-violet[disabled] {
  background-color: #ad65c3;
  border-color: #a452bc;
}
.btn-violet.disabled:hover,
.btn-violet[disabled]:hover,
.btn-violet.disabled:focus,
.btn-violet[disabled]:focus,
.btn-violet.disabled:active,
.btn-violet[disabled]:active,
.btn-violet.disabled.active,
.btn-violet[disabled].active {
  background-color: #ad65c3;
  border-color: #a452bc;
}
.btn-violet .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-violet {
  background-color: #ad65c3;
  border-color: #a452bc;
}
.open .dropdown-toggle.btn-violet {
  color: #ffffff;
  background-color: #582867;
  border-color: #492155;
  background-image: none;
}
.btn-apricot {
  color: #ffffff;
  background-color: #ed8900;
  border-color: #ba6c00;
}
.btn-apricot:hover,
.btn-apricot:focus,
.btn-apricot:active,
.btn-apricot .active {
  color: #ffffff;
  background-color: #ba6c00;
  border-color: #a15d00;
}
.btn-apricot:active,
.btn-apricot.active {
  background-image: none;
}
.btn-apricot.disabled,
.btn-apricot[disabled] {
  background-color: #ffb754;
  border-color: #ffac3b;
}
.btn-apricot.disabled:hover,
.btn-apricot[disabled]:hover,
.btn-apricot.disabled:focus,
.btn-apricot[disabled]:focus,
.btn-apricot.disabled:active,
.btn-apricot[disabled]:active,
.btn-apricot.disabled.active,
.btn-apricot[disabled].active {
  background-color: #ffb754;
  border-color: #ffac3b;
}
.btn-apricot .badge {
  color: #AD924B;
  background-color: #ffffff;
}
fieldset[disabled] .btn-apricot {
  background-color: #ffb754;
  border-color: #ffac3b;
}
.open .dropdown-toggle.btn-apricot {
  color: #ffffff;
  background-color: #ba6c00;
  border-color: #a15d00;
  background-image: none;
}
a {
  color: #0366d6;
}
.language-switcher li a:focus {
  display: block;
  outline: #F9D80B auto 2px;
}
.home-link:focus {
  outline: #F9D80B auto 2px;
}
.navbar-nav .nav-link:focus {
  outline: #F9D80B auto 2px;
}
.navbar-nav .dropdown-item:focus {
  background: #F9D80B;
  outline: none;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.form-control:focus {
  border-color: #F9D80B;
  border-width: 3px;
}
input[type="submit"]:focus {
  border-color: #F9D80B;
  border-width: 3px;
}
.main-page p a:focus:not(.card-title),
.main-page li a:focus:not(.card-title) {
  background: #F9D80B;
  outline: none;
  padding: 1px 6px;
  border-bottom: 2px solid #000;
}
.main-page p a:focus.btn,
.main-page li a:focus.btn {
  border-color: #F9D80B;
  border-width: 3px;
}
.teaser a:focus {
  background: #F9D80B;
  outline: none;
  padding: 1px 6px;
  border-bottom: 2px solid #000;
}
.main-page .card .card-title a:focus:not(.card-title) {
  background: #F9D80B;
  outline: none;
  padding: 2px;
  border-bottom: 2px solid #000;
  display: block;
}
.main-page .card .card-title a:focus.btn {
  border-color: #F9D80B;
  border-width: 3px;
}
.main-page .card a:focus:not(.card-title) {
  background: #F9D80B;
  outline: none;
  padding: 1px 6px;
  border-bottom: 2px solid #000;
}
.main-page .card a:focus.btn {
  border-color: #F9D80B;
  border-width: 3px;
}
.main-page .card .faq-category a:focus {
  background: none;
  border-bottom: none;
}
.accordion .card-header button:focus {
  background: #F9D80B;
  outline: none;
  border-bottom: 2px solid #000;
}
.sidebar a:focus,
.sidebar a.current:focus {
  color: #000;
  background: #F9D80B;
  outline: none;
  padding: 1px 6px;
  border-bottom: 2px solid #000;
}
.social-buttons a:focus {
  outline: #F9D80B auto 1px;
}
.sub-footer a:focus {
  outline: #F9D80B auto 2px;
}
.modal a:focus,
.modal button:focus {
  outline: #F9D80B auto 1px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.65);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.85);
}
.alert.alert-danger a {
  color: #03438C;
}
.alert.alert-danger a:hover {
  color: #022b5a;
}
.language-switcher li {
  padding: 3px;
}
.language-switcher li a {
  color: rgba(255, 255, 255, 0.6);
}
.language-switcher li.link {
  opacity: 0.85;
}
.language-switcher li.current {
  border: 1px solid rgba(255, 255, 255, 0.6);
}
a.skip-main {
  color: #fff;
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
  background-color: #1B365D;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 20px 35%;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #B9975B;
  text-align: center;
  font-size: 1.4em;
  z-index: 999;
}
.btn.btn-success {
  background-color: #218739;
}
.text-success {
  color: #208337 !important;
}
.sidebar ul li a.current {
  color: #906D3C;
}
.sidebar ul li a.section {
  color: #6c522d;
}
.logos-strip a:focus {
  outline: #F9D80B auto 1px;
}
.text-heiw-navy {
  color: #325083;
}
.text-heiw-grey {
  color: #575756;
}
.text-heiw-blue {
  color: #489cc9;
}
.text-heiw-green {
  color: #008071;
}
.text-heiw-lime {
  color: #afca0b;
}
.text-heiw-crimson {
  color: #a3195b;
}
.text-heiw-pink {
  color: #e52e7d;
}
.text-heiw-purple {
  color: #511966;
}
.text-heiw-violet {
  color: #78368c;
}
.text-heiw-orange {
  color: #e63323;
}
.text-heiw-apricot {
  color: #ed8900;
}
.bg-heiw-navy {
  background-color: #325083;
}
.bg-heiw-grey {
  background-color: #575756;
}
.bg-heiw-blue {
  background-color: #489cc9;
}
.bg-heiw-green {
  background-color: #008071;
}
.bg-heiw-lime {
  background-color: #afca0b;
}
.bg-heiw-crimson {
  background-color: #a3195b;
}
.bg-heiw-pink {
  background-color: #e52e7d;
}
.bg-heiw-purple {
  background-color: #511966;
}
.bg-heiw-violet {
  background-color: #78368c;
}
.bg-heiw-orange {
  background-color: #e63323;
}
.bg-heiw-apricot {
  background-color: #ed8900;
}
/*# sourceMappingURL=style.css.map */

/*.img-element {*/
/*    width: 500px !important;*/
/*    height: 300px !important;*/
/*    position: fixed !important;*/
/*    !*left: 0 !important;*!*/
/*    background-repeat: no-repeat !important;*/
/*    background-size: contain !important;*/
/*}*/

/*.img-element.img-animation-0 {*/
/*    display: block !important;*/
/*    background-image: url('https://velseoity.com/wp-content/uploads/2019/09/online-942408_960_720.jpg') !important;*/
/*    -webkit-animation: move 5s infinite !important;*/
/*    animation: move 5s infinite !important;*/
/*}*/


/*@-webkit-keyframes move {*/
/*    from {*/
/*        top: -300px;*/
/*        left: 0px;*/
/*    }*/
/*    to {*/
/*        top: 500px;*/
/*        left: 80%;*/

/*    }*/
/*}*/


/*@keyframes move {*/
/*    from {*/
/*        top: -300px;*/
/*        left: 0px;*/
/*    }*/
/*    to {*/
/*        top: 500px;*/
/*        left: 80%;*/

/*    }*/
/*}*/

/*Apply animations to the personalised texts*/
[class^="text-element"] {
    display: none !important;
    position: fixed !important;
    z-index: 1 !important;

    -webkit-animation-name: stretch-text !important;
    animation-name: stretch-text !important;
    -webkit-animation-duration: 2.5s !important;
    animation-duration: 2.5s !important;
    -webkit-animation-delay: 0s !important;
    animation-delay: 0s !important;
    -webkit-animation-direction: alternate !important;
    animation-direction: alternate !important;
    -webkit-animation-iteration-count: infinite !important;
    animation-iteration-count: infinite !important;
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important;
    -webkit-animation-play-state: running !important;
    animation-play-state: running !important;
    z-index: 1 !important;
}

.text-element-0.text-animation-0 {
    position: fixed !important;
    display: block !important;
    /*color: red !important;*/
    font-weight: bold !important;
    font-size: 80px !important;
    padding: 20px !important;
    width: auto !important;
    height: auto !important;
    top: 20% !important;
    left: 40% !important;
}

.text-element-1.text-animation-1  {
    position: fixed !important;
    display: block !important;
    /*color: blue !important;*/
    font-weight: bold !important;
    font-size: 60px !important;
    padding: 20px !important;
    width: auto !important;
    height: auto !important;
    top: 40% !important;
    left: 30% !important;
}

.text-element-2.text-animation-2  {
    position: fixed !important;
    display: block !important;
    /*color: green !important;*/
    font-weight: bold !important;
    font-size: 60px !important;
    padding: 20px !important;
    width: auto !important;
    height: auto !important;
    top: 30% !important;
    left: 20% !important;
}

.text-element-3.text-animation-3  {
    position: fixed !important;
    display: block !important;
    /*color: purple !important;*/
    font-weight: bold !important;
    font-size: 50px !important;
    padding: 20px !important;
    width: auto !important;
    height: auto !important;
    top: 50% !important;
    left: 20% !important;
}

.text-element-4.text-animation-4  {
    position: fixed !important;
    display: block !important;
    /*color: black !important;*/
    font-weight: bold !important;
    font-size: 50px !important;
    padding: 20px !important;
    width: auto !important;
    height: auto !important;
    top: 20% !important;
    left: 10% !important;
}

.text-element-5.text-animation-5  {
    position: fixed !important;
    display: block !important;
    /*color: darkcyan !important;*/
    font-weight: bold !important;
    font-size: 50px !important;
    padding: 20px !important;
    width: auto !important;
    height: auto !important;
    top: 20% !important;
    left: 10% !important;
}

/*Page images animation*/
.img-animation {
    -webkit-animation-name: stretch !important;   /*Apply animation*/
    animation-name: stretch !important;   /*Apply animation*/
    -webkit-animation-duration: 2s !important;
    animation-duration: 2s !important;
    -webkit-animation-delay: 0s !important;
    animation-delay: 0s !important;
    -webkit-animation-direction: alternate !important;
    animation-direction: alternate !important;
    -webkit-animation-iteration-count: infinite !important;
    animation-iteration-count: infinite !important;
    -webkit-animation-play-state: running !important;
    animation-play-state: running !important;

}

/*Stretch and shrink page images*/
@-webkit-keyframes stretch {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes stretch {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

/*Stretch and shrink texts*/
@-webkit-keyframes stretch-text {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(3);
    }
}

@keyframes stretch-text {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(3);
    }
}

.paragraph-animation {
    -webkit-animation: flickerAnimation 1.2s infinite !important;
    animation: flickerAnimation 1.2s infinite !important;
}

@-webkit-keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}

.heading-animation {
    -webkit-animation-name: smallPulse !important;
    animation-name: smallPulse !important;
    -webkit-animation-duration: 2s !important;
    animation-duration: 2s !important;
    -webkit-animation-timing-function: ease-out !important;
    animation-timing-function: ease-out !important;
    -webkit-animation-delay: 0s !important;
    animation-delay: 0s !important;
    -webkit-animation-direction: alternate !important;
    animation-direction: alternate !important;
    -webkit-animation-iteration-count: infinite !important;
    animation-iteration-count: infinite !important;
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important;
    -webkit-animation-play-state: running !important;
    animation-play-state: running !important;
}

@-webkit-keyframes smallPulse {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes smallPulse {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

#my-black-cursor {
    background-color: black;
    border:1px solid black;
    filter: blur(50px);
    height:620px;
    width:620px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
    cursor: none;
}

input[type=button] {
    background-color: #2B5F2B;
    border: none;
    border-radius:4px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
}

#no-cursor {
    cursor: none;
}

.alert {
    left: 500px;
    border: 1px solid black;
    margin-top: 5px;
    padding: 20px;
    background-color: #E08700;;
    color: white;
    position: fixed;
    visibility: hidden;
    z-index: 3;
}

.alert-fade-out {
    animation-name:fadeOut;
    animation-duration:1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.closebtn:hover {
    color: black;
}
