// accessibility.less

@focus-colour: #F9D80B;
@link-colour: #0366d6;
@current-colour: #906D3C;
@accessibile-success: #208337;
@link-focus-colour: #0358ba;

a {
    color: @link-colour;
}

.language-switcher {
    li {
        a {
            &:focus {
                display: block;
                outline: @focus-colour auto 2px;
            }
        }
    }
}

.home-link {
    &:focus {
        outline: @focus-colour auto 2px;
    }
}

.navbar-nav {
    .nav-link {
        &:focus {
            outline: @focus-colour auto 2px;
        }
    }

    .dropdown-item {
        &:focus {
            background: @focus-colour;
            outline: none;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
        }
    }
}

.form-control {
    &:focus {
        border-color: @focus-colour;
        border-width: 3px;
    }
}

input[type="submit"] {
    &:focus {
        border-color: @focus-colour;
        border-width: 3px;
    }
}

.main-page {
    p,
    li {
        a {
            &:focus {
                &:not(.card-title) {
                    background: @focus-colour;
                    outline: none;
                    padding: 1px 6px;
                    border-bottom: 2px solid #000;
                }

                &.btn {
                    border-color: @focus-colour;
                    border-width: 3px;
                }
            }
        }
    }
}

.teaser {
    a {
        &:focus {
            background: @focus-colour;
            outline: none;
            padding: 1px 6px;
            border-bottom: 2px solid #000;
        }
    }
}

.main-page {
    .card {
        .card-title {
            a {
                &:focus {
                    &:not(.card-title) {
                        background: @focus-colour;
                        outline: none;
                        padding: 2px;
                        border-bottom: 2px solid #000;
                        display: block;
                    }

                    &.btn {
                        border-color: @focus-colour;
                        border-width: 3px;
                    }
                }
            }
        }

        a {
            &:focus {
                &:not(.card-title) {
                    background: @focus-colour;
                    outline: none;
                    padding: 1px 6px;
                    border-bottom: 2px solid #000;
                }

                &.btn {
                    border-color: @focus-colour;
                    border-width: 3px;
                }
            }
        }

        .faq-category {
            a {
                &:focus {
                    background: none;
                    border-bottom: none;
                }
            }
        }
    }
}

.accordion {
    .card-header {
        button {
            &:focus {
                background: @focus-colour;
                outline: none;
                //			    padding: 1px 6px;
                border-bottom: 2px solid #000;
            }
        }
    }
}

.sidebar {
    a, a.current {
        &:focus {
            color: #000;
            background: @focus-colour;
            outline: none;
            padding: 1px 6px;
            border-bottom: 2px solid #000;
        }
    }
}

.social-buttons {
    a {
        &:focus {
            outline: @focus-colour auto 1px;
        }
    }
}

.sub-footer {
    a {
        &:focus {
            outline: @focus-colour auto 2px;
        }
    }
}

.modal {
    a,
    button {
        &:focus {
            outline: @focus-colour auto 1px;
        }
    }
}

//accessibility colouring for navs

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: rgba(255, 255, 255, .65);

            &:focus,
            &:hover {
                color: rgba(255, 255, 255, .85);
            }
        }
    }
}


// alert links

.alert {
    &.alert-danger {
        a {
            color: #03438C;

            &:hover {
                color: darken(#03438C, 10%);
            }
        }
    }
}


// language switcher

.language-switcher {
    li {
        padding: 3px;

        a {
            color: rgba(255, 255, 255, .6);
        }

        &.link {
            opacity: 0.85;
        }

        &.current {
            border: 1px solid rgba(255, 255, 255, .6);
        }
    }
}

// skip link

a {
    &.skip-main {
        color: #fff;
        left: -999px;
        position: absolute;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -999;

        &:focus,
        &:active {
            background-color: @primary-colour;
            left: auto;
            top: auto;
            width: 30%;
            height: auto;
            overflow: auto;
            margin: 20px 35%;
            padding: 5px;
            border-radius: 4px;
            border: 2px solid @complimentary;
            text-align: center;
            font-size: 1.4em;
            z-index: 999;
        }
    }
}


// btn overrides

.btn {
    &.btn-success {
        background-color: #218739;
    }
}

// colour overrides

.text-success {
    color: @accessibile-success !important;
}

// sidebar menu

.sidebar {
    ul {
        li {
            a {
                &.current {
                    color: @current-colour;
                }

                &.section {
                    color: darken(@current-colour, 10%);
                }
            }
        }
    }
}


.logos-strip {
    a:focus {
        outline: @focus-colour auto 1px;
    }
}
