// components.less

.alert {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.teaser {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d3d3d2;
	.teaser-title {
		font-size: 1.6rem;
		line-height: 24px;
		a {
			color: #212529;
			&:hover {
				color: @complimentary;
				text-decoration: none;
			}
		}
	}
	.teaser-subtitle {
		font-size: 1.14rem;
		font-weight: 700;
		margin-bottom: 20px;
	}
	ul {
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.member-teaser {
		margin-bottom: 50px;
		.teaser-image {
			img {
				width: 100%;
			}
		}
		.teaser-title {
			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 700;
			color: @dark-primary-colour;
			.tint {
				font-size: 1.14rem;
				color: @primary-colour;
			}
		}
//		.image-box,
//		.text-box {
//			border-top: 1px solid @light-complimentary;
//		}
//		.text-box {
//			padding-top: 20px;
//		}
	}
	&.news-teaser {
		margin-bottom: 20px;
		padding-bottom: 20px;
		padding-left: 220px;
		border-bottom: 1px solid #d3d3d2;
		.teaser-image {
			margin-bottom: 0;
			margin-left: -220px;
			float: left;
		}
		.teaser-title {
			font-size: 1.6rem;
			line-height: 24px;
			a {
				color: #212529;
				&:hover {
					color: @complimentary;
					text-decoration: none;
				}
			}
		}
		.teaser-date {
			color: #777;
		}
		&:last-of-type {
			border: none;
		}
	}
	&.board-teaser {
		margin-bottom: 20px;
		padding-bottom: 20px;
		padding-left: 240px;
		border-bottom: 1px solid #d3d3d2;
		.teaser-image {
			margin-bottom: 0;
			margin-left: -240px;
			float: left;
			border: 1px solid #d3d3d2;
		}
		.teaser-title {
			font-size: 1.6rem;
			line-height: 24px;
			margin-bottom: 0.4rem;
			a {
				color: #212529;
				&:hover {
					color: @complimentary;
					text-decoration: none;
				}
			}
		}
		.teaser-subtitle {
			font-size: 1.14rem;
			font-weight: 700;
		}
		&:last-of-type {
			border: none;
		}
	}
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

form {
	.field {
		margin-bottom: 20px;
	}
}

.image {
	border: 1px solid #d3d3d2;
	border-radius: .25rem !important;
	img {
//		padding: 10px;
		width: 100%;
	}
	.caption {
		font-size: 0.85rem;
		color: #333;
		padding: 5px 10px;
		background: #d3d3d2;
	}
	&.right {
		float: right;
		margin: 0 0 30px 30px;
	}
}

figure {
	&.image {
		img {
			&.right {
				margin: 0;
				float: none;
			}
		}
	}
}

// video

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 1.5rem;
	.responsive(768px, {
		margin-bottom: 0;
	});
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


// tile

.grid {
	width: 100%;
	margin-bottom: 50px;
	background: #fff;
	overflow: hidden;
	.responsive(768px, {
		background: #000;
	});
	.tile {
		width: 33.3%;
		height: 333px;
		float: left;
		color: #fff;
		cursor: pointer;
		.front {
			padding: 20px;
			background: @primary-colour;
			img {
				width: 100%;
			}
		}
		.back {
			padding: 20px;
			background: @complimentary;
			border: 1px solid @complimentary;
			overflow-y: scroll;
			h3 {
				margin-bottom: 5px;
			}
			h5 {
				margin-bottom: 15px;
			}
		}
	}
	.fixed-tile {
		width: 100%;
		height: auto;
		float: left;
		position: relative;
		margin-top: -53px;
		margin-left: -52px;
		.responsive(768px, {
			width: 420px;
			margin-top: -51px;
			margin-left: -50px;
		});
//		background: #000;
//		&:before {
//			content: "";
//			display: block;
//			position: absolute;
//			top: 0;
//			bottom: 0;
//			left: 0;
//			right: 0;
//			background: none;
//			transition: all .2s linear;
//			cursor: pointer;
//		}
//		&:hover:before {
//			background: rgba(0,0,0, 0.4);
//		}
		img {
			width: 114%;
			height: auto;
			transition: all .2s linear;
			&:hover {
				opacity: 0.7;
			}
			.responsive(768px, {
				width: 100%;
			});
		}
	}
}

// case studies

.case-study-page {
	img {
		width: 100%;
	}
}

// accordion

.accordion {
	.card-header {
		button {
			color: #212529;
			font-weight: 700;
			font-size: 1.2rem;
			text-shadow: 1px 1px rgba(0,0,0,0.15);
			text-decoration: none;
			position: relative;
			white-space: normal;
			text-align: left;
			&:hover,
			&:active {
				text-decoration: none;
			}
			.box-icon {
				width: 30px;
				height: 30px;
				background: @complimentary;
				position: absolute;
				top: 0.35rem;
				left: -30px;
				border-radius: calc(.25rem - 1px);
				color: #fff;
				line-height: 30px;
				text-align: center;
			}
			&.collapsed {
				font-weight: 400;
				.box-icon {
					background: @primary-colour;
				}
			}
		}
	}
}


// cards

.card {
	.card-title {
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: #212529;
		}
	}
	ul {
		padding-left: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	dl {
		&:last-child {
			margin-bottom: 0;
		}
	}
	.card-subtitle {
		margin-top: -.5rem;
		margin-bottom: .75rem;
		font-weight: 700;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.profile {
	h1 {
		margin-bottom: 1.2rem;
	}
	img {
		border: 1px solid rgba(0,0,0,.125);
		margin-bottom: 1rem;
	}
}

// homepage cards
.homepage-cards {
	.card {
		text-align: center;
		.card-title {
			font-size: 1.8rem;
		}
	}
}

.section-teasers,
.child-teasers {
	margin-top: 0;
	.card {
		margin-bottom: 30px;
		.card-title {
			a {
				color: #212529;
				&:hover {
					color: #212529;
					text-decoration: none;
				}
			}
		}
		p {
			font-weight: 300;
		}
	}
}

// sidebar menu

.sidebar {
    margin-bottom: 1rem;
    ul {
        li {
            width: 100%;
            a {
                display: block;
                color: @primary-colour;
                &.current {
                    color: @complimentary;
                    font-weight: 500;
                }
                &.section {
                    color: darken(@complimentary, 10%);
                    font-weight: 500;
                }
            }
        }
        &.submenu {
            margin-top: 0.4rem;
            margin-bottom: 0.5rem;
            margin-left: 1rem;
        }
    }
}

.link {
	+ .submenu {
		&.nav {
			display: none;
		}
	}
}

// language switcher

.language-switcher {
	position: absolute;
	right: 5px;
	top: 3px;
	z-index: 9999;
	.responsive(768px, {
		position: relative;
		right: auto;
		top: auto;
	});
//	float: right;
	h6 {
		font-size: 0.7rem;
		text-transform: uppercase;
		color: #666;
		margin-bottom: 4px;
		border-top: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
	    line-height: 1.5;
	}
	ul {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	li {
		text-align: center;
		line-height: 1;
		a {
			color: rgba(255,255,255,.7);
			font-size: 0.85rem;
		}
		img {
			width: 18px;
			margin-right: 4px;
		}
		&.link {
			opacity: 0.5;
//			a {
//				color: #aaa;
//			}
//			img {
//
//			}
		}
	}
}

// validate contact message

.message.bad {
    color: #e00000;
}
