// fonts.less

html, body {
	font-family: @base-font-family;
}

p,
ol,
ul,
address,
td,
dl {
	font-weight: 300;
}

a {
	color: @link-colour;
}

.lead {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	.responsive(768px, {
		font-size: 1.25rem;
	});
}

strong {
	font-weight: 700;
}

h1 {
	font-weight: 300;
	line-height: 40px;
}

h4 {
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    .sidebar & {
        border-bottom: 1px solid #d3d3d4;
        border-top: 1px solid #d3d3d4;
        padding-bottom: 0.6rem;
        padding-top: 0.6rem;
        a {
	        color: rgb(33, 37, 41);
        }
    }
}

.postnominal {
	font-size: smaller;
}

dl {
	dt {
		a {
			color: @primary-colour;
			&:hover {
				color: @complimentary;
			}
		}
	}
	dd {
		margin-bottom: 0.85rem;
		a {
			color: @primary-colour;
			&:hover {
				color: @complimentary;
			}
		}
	}
}

.news-date {
	color: #666;
	border-bottom: 1px solid #d3d3d2;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.main-page {
	h3 {
		margin-bottom: 1rem;
	}
}

.blockquote {
    position: relative;
    background: #eee;
	padding: 2rem;
    padding-left: 4rem;
    color: #212529;
    margin: 0 0 1.5rem 0;
    clear: both;
    border-radius: 4px;
    font-size: 1.5rem;
    p {
	    margin-bottom: 0;
    }
    &:before {
	    font-family: @base-font-family;
	    color: @dark-primary-colour;
	    position: absolute;
	    font-size: 6em;
	    line-height: 1;
	    top: 0;
	    left: 4px;
	    content: "\201C";
	}
	.blockquote-footer {
		font-size: 70%;
		color: @primary-colour;
		&:before {
			content: none;
		}
		p {
			margin: 0;
		}
	}
}

.source {
	font-style: oblique;
	font-size: 85%;
	color: #666;
}
