// heiw buttons - new colours

// ===== btn-navy =====

.btn-navy {
    color: #ffffff;
    background-color: @heiw-navy;
    border-color: darken(@heiw-navy, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-navy, 10%);
        border-color: darken(@heiw-navy, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-navy, 20%);
        border-color: lighten(@heiw-navy, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-navy, 20%);
            border-color: lighten(@heiw-navy, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-navy {
            background-color: lighten(@heiw-navy, 20%);
            border-color: lighten(@heiw-navy, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-navy {
            color: #ffffff;
            background-color: darken(@heiw-navy, 10%);
            border-color: darken(@heiw-navy, 15%);
            background-image: none;
        }
    }
}


// ===== btn-grey =====

.btn-grey {
    color: #ffffff;
    background-color: @heiw-grey;
    border-color: darken(@heiw-grey, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-grey, 10%);
        border-color: darken(@heiw-grey, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-grey, 20%);
        border-color: lighten(@heiw-grey, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-grey, 20%);
            border-color: lighten(@heiw-grey, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-grey {
            background-color: lighten(@heiw-grey, 20%);
            border-color: lighten(@heiw-grey, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-grey {
            color: #ffffff;
            background-color: darken(@heiw-grey, 10%);
            border-color: darken(@heiw-grey, 15%);
            background-image: none;
        }
    }
}


// ===== btn-blue =====

.btn-blue {
    color: #ffffff;
    background-color: @heiw-blue;
    border-color: darken(@heiw-blue, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-blue, 10%);
        border-color: darken(@heiw-blue, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-blue, 20%);
        border-color: lighten(@heiw-blue, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-blue, 20%);
            border-color: lighten(@heiw-blue, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-blue {
            background-color: lighten(@heiw-blue, 20%);
            border-color: lighten(@heiw-blue, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-blue {
            color: #ffffff;
            background-color: darken(@heiw-blue, 10%);
            border-color: darken(@heiw-blue, 15%);
            background-image: none;
        }
    }
}


// ===== .btn-green =====

.btn-green {
    color: #ffffff;
    background-color: @heiw-green;
    border-color: darken(@heiw-green, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-green, 10%);
        border-color: darken(@heiw-green, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-green, 20%);
        border-color: lighten(@heiw-green, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-green, 20%);
            border-color: lighten(@heiw-green, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-green {
            background-color: lighten(@heiw-green, 20%);
            border-color: lighten(@heiw-green, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-green {
            color: #ffffff;
            background-color: darken(@heiw-green, 10%);
            border-color: darken(@heiw-green, 15%);
            background-image: none;
        }
    }
}


// ===== .btn-crimson =====

.btn-crimson {
    color: #ffffff;
    background-color: @heiw-crimson;
    border-color: darken(@heiw-crimson, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-crimson, 10%);
        border-color: darken(@heiw-crimson, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-crimson, 20%);
        border-color: lighten(@heiw-crimson, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-crimson, 20%);
            border-color: lighten(@heiw-crimson, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-crimson {
            background-color: lighten(@heiw-crimson, 20%);
            border-color: lighten(@heiw-crimson, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-crimson {
            color: #ffffff;
            background-color: darken(@heiw-crimson, 10%);
            border-color: darken(@heiw-crimson, 15%);
            background-image: none;
        }
    }
}


// ===== .btn-purple =====

.btn-purple {
    color: #ffffff;
    background-color: @heiw-purple;
    border-color: darken(@heiw-purple, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-purple, 10%);
        border-color: darken(@heiw-purple, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-purple, 20%);
        border-color: lighten(@heiw-purple, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-purple, 20%);
            border-color: lighten(@heiw-purple, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-purple {
            background-color: lighten(@heiw-purple, 20%);
            border-color: lighten(@heiw-purple, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-purple {
            color: #ffffff;
            background-color: darken(@heiw-purple, 10%);
            border-color: darken(@heiw-purple, 15%);
            background-image: none;
        }
    }
}


// ===== .btn-orange =====

.btn-orange {
    color: #ffffff;
    background-color: @heiw-orange;
    border-color: darken(@heiw-orange, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-orange, 10%);
        border-color: darken(@heiw-orange, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-orange, 20%);
        border-color: lighten(@heiw-orange, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-orange, 20%);
            border-color: lighten(@heiw-orange, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-orange {
            background-color: lighten(@heiw-orange, 20%);
            border-color: lighten(@heiw-orange, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-orange {
            color: #ffffff;
            background-color: darken(@heiw-orange, 10%);
            border-color: darken(@heiw-orange, 15%);
            background-image: none;
        }
    }
}


// ===== .btn-lime =====

.btn-lime {
    color: #ffffff;
    background-color: @heiw-lime;
    border-color: darken(@heiw-lime, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-lime, 10%);
        border-color: darken(@heiw-lime, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-lime, 20%);
        border-color: lighten(@heiw-lime, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-lime, 20%);
            border-color: lighten(@heiw-lime, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-lime {
            background-color: lighten(@heiw-lime, 20%);
            border-color: lighten(@heiw-lime, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-lime {
            color: #ffffff;
            background-color: darken(@heiw-lime, 10%);
            border-color: darken(@heiw-lime, 15%);
            background-image: none;
        }
    }
}


// ===== .btn-pink =====

.btn-pink {
    color: #ffffff;
    background-color: @heiw-pink;
    border-color: darken(@heiw-pink, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-pink, 10%);
        border-color: darken(@heiw-pink, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-pink, 20%);
        border-color: lighten(@heiw-pink, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-pink, 20%);
            border-color: lighten(@heiw-pink, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-pink {
            background-color: lighten(@heiw-pink, 20%);
            border-color: lighten(@heiw-pink, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-pink {
            color: #ffffff;
            background-color: darken(@heiw-pink, 10%);
            border-color: darken(@heiw-pink, 15%);
            background-image: none;
        }
    }
}


// ===== .btn-violet =====

.btn-violet {
    color: #ffffff;
    background-color: @heiw-violet;
    border-color: darken(@heiw-violet, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-violet, 10%);
        border-color: darken(@heiw-violet, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-violet, 20%);
        border-color: lighten(@heiw-violet, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-violet, 20%);
            border-color: lighten(@heiw-violet, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-violet {
            background-color: lighten(@heiw-violet, 20%);
            border-color: lighten(@heiw-violet, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-violet {
            color: #ffffff;
            background-color: darken(@heiw-violet, 10%);
            border-color: darken(@heiw-violet, 15%);
            background-image: none;
        }
    }
}


// ===== .btn-apricot =====

.btn-apricot {
    color: #ffffff;
    background-color: @heiw-apricot;
    border-color: darken(@heiw-apricot, 10%);

    &:hover,
    &:focus,
    &:active,
    .active {
        color: #ffffff;
        background-color: darken(@heiw-apricot, 10%);
        border-color: darken(@heiw-apricot, 15%);
    }

    &:active,
    &.active {
        background-image: none;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten(@heiw-apricot, 20%);
        border-color: lighten(@heiw-apricot, 15%);

        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: lighten(@heiw-apricot, 20%);
            border-color: lighten(@heiw-apricot, 15%);
        }
    }

    .badge {
        color: #AD924B;
        background-color: #ffffff;
    }
}

fieldset {
    &[disabled] {
        .btn-apricot {
            background-color: lighten(@heiw-apricot, 20%);
            border-color: lighten(@heiw-apricot, 15%);
        }
    }
}

.open {
    .dropdown-toggle {
        &.btn-apricot {
            color: #ffffff;
            background-color: darken(@heiw-apricot, 10%);
            border-color: darken(@heiw-apricot, 15%);
            background-image: none;
        }
    }
}
