// notification.less

.site-notification {
    position: fixed;
    z-index: 1032;
    width: 100%;
    bottom: -100%;
    background-color: @primary-colour;
    color: #ffffff;

    .site-notification-container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .site-notification-buttons {
        .site-notification-acknowledge {
            //            margin: 0 3rem 3rem 3rem;
        }
    }

    p {
        a {
            color: #fff;
            text-decoration: underline;

            &:hover {
                color: @complimentary;
            }
        }
    }
}

.site-overlay {
    display: none;
    position: fixed;
    z-index: 1031;
    background-color: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}


// slider / switch

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DC3545;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #28A745;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

// end
