// slider.less

.slider-holder {
    background: #eee;
    border-bottom: 1px solid #d3d3d2;
    -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}

.main-slider {
    width: 100%;
    margin-bottom: 1.6rem !important;
    //	overflow: hidden;
    //	height: 400px;
    .responsive(768px, {
        //		height: 450px;
    });

    .slider {
        overflow: hidden;
        //		height: 450px;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        .responsive(768px, {
            background-position: right center;
            background-size: auto;
        });

        .slider-content {
            width: 100%;
            //			padding-top: 0.5rem;
            background-color: rgba(238, 238, 238, 0.6);
            padding-bottom: 0.35rem;
            .responsive(768px, {
                width: 60%;
                float: left;
                //				padding-top: 4rem;
                background-color: transparent;
                padding-bottom: 0;
            });

            .slider-title {
                color: @complimentary;
                font-size: 2rem;
                margin-bottom: 0.8rem;
                .responsive(768px, {
                    font-size: 2.7rem;
                    margin-bottom: 1rem;
                });

                a {
                    color: @complimentary;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .lead {
                color: @primary-colour;
                margin-bottom: 1rem;
                //				font-size: 1.1rem;
                width: 100%;
                .responsive(768px, {
                    width: 100%;
                    //					font-size: 1.6rem;
                });
                //				font-weight: 300;
            }

            .slider-teaser {
                font-size: 0.9rem;
                width: 93%;
                .responsive(768px, {
                    width: 50%;
                    font-size: 1.1rem;
                });
            }
        }

        .slider-image {
            width: 100%;
            .responsive(768px, {
                width: 38%;
                float: right;
            });

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .slick-arrow {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        top: 50%;
        margin-top: -12px;
        border-radius: 1em;
        cursor: pointer;
        z-index: 10;
        text-align: center;
        font-size: 1.5em;
        font-weight: 100;
        font-family: "Euphemia UCAS", Euphemia, Helvetica, serif;
        background-color: #cbcbcb;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C7C7C7), color-stop(55%, #C7C7C7), to(#dbdbdb));
        background-image: -webkit-linear-gradient(#C7C7C7, #C7C7C7 55%, #dbdbdb);
        background-image: -moz-linear-gradient(top, #C7C7C7, #C7C7C7 55%, #dbdbdb);
        background-image: -o-linear-gradient(#C7C7C7, #C7C7C7 55%, #dbdbdb);
        background-image: linear-gradient(#C7C7C7, #C7C7C7 55%, #dbdbdb);
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc7c7c7', endColorstr='#ffdbdbdb', GradientType=0);
        color: #ffffff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);

        &.slick-prev {
            left: 10px;
            bottom: -40px;
            top: auto;

            &:before {
                content: none;
            }
        }

        &.slick-next {
            left: 48px;
            bottom: -40px;
            top: auto;

            &:before {
                content: none;
            }
        }
    }

    .slick-dots {
        bottom: -25px;
        left: 110px;
        width: auto;

        li {
            width: 12px;
            height: 12px;
            display: inline-block;
            padding: 5px;
            border-radius: 1em;
            cursor: pointer;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            background-color: #E2E2E2;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);

            &.slick-active {
                background-color: @complimentary;
            }

            button {
                &:before {
                    content: none;
                }
            }
        }
    }
}

.slider-tint {
    position: absolute;
    width: 100%;
    height: 380px;
    top: 0;
    left: 0;
    z-index: 888;
    background-color: #222;
    opacity: 0.5;
    .responsive(768px, {
        height: 570px;
    });
}
