// structure.less

html, body {
    height: 100%;
}

body {
    background: @dark-primary-colour;
}

header {
    .navbar-small {
        padding: 0 0.4rem;
        border-bottom: 3px solid @complimentary;
        margin-bottom: 20px;

        &.bg-dark {
            background: @primary-colour !important;
        }

        .row {
            margin: 0;
        }

        .navbar-toggler {
            padding: 0.1rem 0.4rem;
            margin: 5px 0;

            .navbar-toggler-icon {
                width: 1em;
                height: 1em;
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: 0.5rem;
                    font-size: 0.9rem;
                }

                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }

        .external-links {
            .fa-external-link {
                font-size: 0.6rem;
                opacity: 0.7;
                top: -3px;
                position: relative;
            }
        }
    }

    //	.top-strip {
    //		width: 100%;
    //		height: 15px;
    //		background: @primary-colour;
    //		margin-bottom: 20px;
    //		border-bottom: 4px solid @complimentary;
    //	}
    .logos-strip {
        margin-bottom: 20px;
    }

    margin: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;

    .main-logo {
        height: 100px;
    }

    .heiw-logo {
        height: 55px;
        .responsive(768px, {
            margin-top: 5px;
            height: 71px;
        });
    }
}

//accessibility colouring for navs

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .65);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .85);
}

.site-header {
    img {
        margin-top: -10px;
    }
}

.navbar-main {
    background: @primary-colour;
    border-top: 3px solid @complimentary;

    .navbar-nav {
        li {
            a {
                &.nav-link {
                    &.current,
                    &.section {
                        color: #fff;
                    }

                    .responsive(992px, {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    });
                }
            }
        }
    }
}

.masthead {
    background-color: #fff;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url('/images/gp2111a.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 18px 0;
    border-bottom: 1px solid @complimentary;
    .responsive(768px, {
        padding: 30px 0;
    });

    .image {
        margin: 0;

        img {
            width: 100%;
            box-shadow: 0.05rem .2rem .6rem rgba(0, 0, 0, 0.35);
        }
    }

    .site-title {
        //		text-transform: uppercase;
        font-size: 4.2rem;
        text-align: center;
        font-weight: 700;
        //		color: @dark-primary-colour;
        color: #FFF;
        margin-top: 20px;
        margin-bottom: 40px;

        .tint {
            color: @primary-colour;
        }
    }

    .page-subtitle {
        font-size: 1.14rem;
        //		color: @dark-primary-colour;
        color: #fff;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        .responsive(768px, {
            margin-bottom: 0.8rem;
        });

        p {
            margin-bottom: .5rem;
        }
    }

    .page-title {
        font-size: 2.5rem;
        font-weight: 400;
        //		color: @dark-primary-colour;
        color: #fff;
        text-align: center;
        //		text-transform: uppercase;
        .responsive(768px, {
            font-size: 2.8rem;
        });
    }

    &.home-page {
        padding: 20px 0;
        .responsive(768px, {
            padding: 60px 0;
        });

        .site-title {
            font-size: 2.2rem;
            margin: 0;
            .responsive(768px, {
                font-size: 3.6rem;
            });
        }
    }

    &.secondary {
        margin-top: -1px;
        background: #d3d3d2;

        h3 {
            font-size: 1.2rem;
            margin-bottom: 0;
            .responsive(768px, {
                font-size: 1.75rem;
            });
        }
    }
}

.main-page {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    //	border-top: 1px solid @light-complimentary;
    .container {
        //		margin-top: -1px;
        //		background: #fff;
        //		padding-left: 40px;
        //		padding-right: 40px;
        //		padding-bottom: 40px;
    }
}

body {
    > footer {
        background-color: @primary-colour;
        background-image: url('../images/lozenges-footer.png');
        background-position: right 0 bottom 65px;
        background-repeat: no-repeat;
        //background: @primary-colour;
        border-top: 3px solid @complimentary;
        padding: 25px 0 0 0;
        color: #fff;

        .semi-transparent {
            background: fade(@primary-colour, 45%);

        }
        .footer-header {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1rem;
            border-bottom: 1px solid @dark-primary-colour;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        address {
            margin-bottom: 0.8rem;
            p {
                font-size: 0.85rem;
                margin-bottom: 0;
            }
        }
        ul {
            &.fa-ul {
                margin-left: 1.8em;
                font-size: 0.85rem;
                margin-bottom: 3rem;
                .responsive(768px, {
                    margin-bottom: 0;
                });
                li {
                    line-height: 0.9rem;
                    margin-bottom: 0.6rem;
                }
                a {
                    color: #fff;
                }
            }
            &.list-inline {
                .list-inline-item {
                    display: block;
                    margin-right: 0;
                    .responsive(768px, {
                        display: inline-block;
                        &:not(:last-child) {
                            margin-right: 0.5rem;
                        }
                    });
                }
            }
        }
        .social-buttons {
            margin-bottom: 2rem;
            .responsive(768px, {
                margin-bottom: 0;
            });
            .btn-primary {
                color: #fff;
                background-color: darken(@primary-colour, 6%);
                border-color: darken(@primary-colour, 6%);
                &:hover {
                    background-color: darken(@primary-colour, 11%);
                    border-color: darken(@primary-colour, 11%);
                }
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
        .admin-box {
            background: @dark-primary-colour;
            padding: 10px;
            margin-bottom: 1.6rem;
            border-radius: 4px;
            .footer-header {
                border-bottom-color: @primary-colour;
            }
            ul {
                margin-bottom: 0;
                a {
                    color: @complimentary;
                    &:hover {
                        color: @light-primary-colour;
                    }
                }
            }
        }
        .sub-footer {
            position: relative;
            padding-top: 20px;
            background: @dark-primary-colour;
            font-size: 0.9rem;
            margin-top: 40px;
            a {
                color: #fff;
            }
            z-index: 999;
        }
    }
}


.flex {
    height: 100%;
    min-height: 100%;
    display: block;
    flex-direction: column;
    //    background-image: url('../images/IMG_3727.jpg');
    //    background-size: cover;
    //    background-repeat: no-repeat;
    //    background-position: center center;
    &.full {
        display: flex;
    }
}
