// tools.less

.placeholder {
    width: 100%;
    height: 280px;
    background: #d3d3d2;
}

.main-image {
    width: 100%;
    height: auto;
    float: right;
    margin-bottom: 2rem;
}

.news-image {
    width: 35%;
    float: right;
    margin: 0 0 2rem 2rem;
}

.section-teasers,
.child-teasers {
    margin-top: 2rem;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.embed {
    &.right {
        float: right;
        margin: 0 0 1.5rem 1.5rem;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}

.sitemap {
    li {
        font-weight: 500;
        margin-bottom: 7px;
        font-size: 1.3rem;
        ul {
            padding-left: 38px;
            li {
                font-weight: 300;
                margin-bottom: 0;
                font-size: 1.14rem;
            }
        }
    }
}


// == external links - add class to parent

.external-links {
    .fa-external-link {
        font-size: 0.6rem;
        opacity: 0.7;
        top: -3px;
        position: relative;
    }
}

// Hide the contact form legend

legend {
    visibility: hidden;
    position: absolute;
    left: -999999px;
}
