// utility.less

.text-heiw-navy {
    color: @heiw-navy;
}

.text-heiw-grey {
    color: @heiw-grey;
}

.text-heiw-blue {
    color: @heiw-blue;
}

.text-heiw-green {
    color: @heiw-green;
}

.text-heiw-lime {
    color: @heiw-lime;
}

.text-heiw-crimson {
    color: @heiw-crimson;
}

.text-heiw-pink {
    color: @heiw-pink;
}

.text-heiw-purple {
    color: @heiw-purple;
}

.text-heiw-violet {
    color: @heiw-violet;
}

.text-heiw-orange {
    color: @heiw-orange;
}

.text-heiw-apricot {
    color: @heiw-apricot;
}

.bg-heiw-navy {
    background-color: @heiw-navy;
}

.bg-heiw-grey {
    background-color: @heiw-grey;
}

.bg-heiw-blue {
    background-color: @heiw-blue;
}

.bg-heiw-green {
    background-color: @heiw-green;
}

.bg-heiw-lime {
    background-color: @heiw-lime;
}

.bg-heiw-crimson {
    background-color: @heiw-crimson;
}

.bg-heiw-pink {
    background-color: @heiw-pink;
}

.bg-heiw-purple {
    background-color: @heiw-purple;
}

.bg-heiw-violet {
    background-color: @heiw-violet;
}

.bg-heiw-orange {
    background-color: @heiw-orange;
}

.bg-heiw-apricot {
    background-color: @heiw-apricot;
}
