// variables.less

// ----- Colours

@primary-colour:			#1B365D;  //  Pantone 534 C (NHS Blue)
@complimentary:				#B9975B;  //  Pantone 465 C (NHS Gold)
@dark-primary-colour:		darken(@primary-colour, 10%);
@midlight-primary-colour:	lighten(@primary-colour, 20%);
@light-primary-colour:		lighten(@primary-colour, 35%);
@light-complimentary:		lighten(@complimentary, 35%);
//@green:                 	#5CB962;
//@blue:                  	#008EFF;

// ----- Fonts

@base-font-size:		14px;
@base-line-height:		18px;
@base-font-family:		'Roboto', sans-serif;


// responsive mixin

.responsive(@minWidth; @rules) {
    @media only screen and (min-width: @minWidth) {
        @rules();
    }
}


// case study colours

@nickjones:			#046644;
@clairejones:		#36BCEF;
@damiancrowley:		#900C33;
@daverichards:		#039D3C;
@mohandesilva:		#FEED03;
@salonijain:		#770C49;
@katemacnamara:		#E42312;
@keithhawkins:		#66B32F;
@simonwellington:	#00A098;
@suetapper:			#C00179;
@chrishancock:		#02A8D7;


// map colours

@betsi:				#009c3b;
@hyweldda:			#be0077;
@powys:				#009e97;
@swansea:			#00a8d7;
@cwmtaf:			#f38f00;
@cardiff:			#0069b4;
@aneurinbevan:		#ffed00;

// HEIW colours

@heiw-navy: #325083;
@heiw-grey: #575756;
@heiw-blue: #489cc9;
@heiw-green: #008071;
@heiw-lime: #afca0b;
@heiw-crimson: #a3195b;
@heiw-pink: #e52e7d;
@heiw-purple: #511966;
@heiw-violet: #78368c;
@heiw-orange: #e63323;
@heiw-apricot: #ed8900;
